{% extends 'recetas/base.html' %}

{% load static %}

{% block title %} Recetas {% endblock %}

{% block customstyle %}
    <link rel="stylesheet" href="{% static 'recetas/sticky-footer-navbar.css' %}">
{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Recetas de postres:</h1>
                <p class="lead">
                    Aprende a hacer postres caseros, tanto fáciles como
                    elaborados, con nuestras recetas de postres explicadas paso
                    a paso. <i class="fa-solid fa-cookie"></i>
                </p>
            <a href="/crear-receta"><button type="button" class="btn btn-success"><i class="fa-solid fa-plus"></i> Receta</button></a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        {# <th scope="col">Foto</th> #}
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receta in recetas %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            {# <td><img width="10%" height="10%" src="{{ receta.foto.url }}"></td> #}
                            <td>{{ receta.nombre }}</td>
                            <td><a href="receta/{{ receta.slug }}"><button type="button" class="btn btn-dark">Ver más</button></a></td>
                            <td><a href="receta/{{ receta.slug }}"><button type="button" class="btn btn-primary">Editar</button></a>
                                <a href="receta/{{ receta.slug }}"><button type="button" class="btn btn-danger">Eliminar</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}