{% extends 'recetas/base.html' %}

{% block title %} Receta - {{ receta.nombre }}{% endblock %}

{% load static %}

{% block customstyle %}
    <link rel="stylesheet" href="{% static 'recetas/sticky-footer-navbar.css' %}">
{% endblock %}

{% block content %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Recetas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
  
    <main class="flex-shrink-0">
        <div class="container">
            <br/>
            <h1 class="text-center">Receta de {{ receta.nombre }}</h1>
            <br/>
            <div class="row">
                <div class="col-4">
                    <h2>Resultado</h2>
                    <img src="{{ receta.foto.url }}" width="75%" height="40%"/>
                    <br/><br/>
                    <h2>Ingredientes</h2>
                    <ul>
                        {% for ingrediente in ingredientes %}
                            <li>{{ ingrediente.cantidad }} {{ ingrediente.unidades }} de {{ ingrediente.nombre }} </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-8">
                    <h2>Preparación</h2>
                    <p>{{ receta.preparación |  safe }}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}