{% extends 'recetas/base.html' %}

{% block title %} Receta - {{ receta.nombre }}{% endblock %}

{% load static %}

{% block customstyle %}
    <link rel="stylesheet" href="{% static 'recetas/sticky-footer-navbar.css' %}">
{% endblock %}

{% block content %}
    <main class="flex-shrink-0">
        <div class="container">
            <br/>
            <h1 class="text-center">Receta de {{ receta.nombre }}</h1>
            <br/>
            <div class="row">
                <div class="col-4">
                    <h2>Resultado</h2>
                    <img src="{{ receta.foto.url }}" class="img-fluid" width="75%" height="auto"/>
                    <br/><br/>
                    <h2>Ingredientes</h2>
                    <ul>
                        {% for ingrediente in ingredientes %}
                            <li>{{ ingrediente.cantidad }} {{ ingrediente.unidades }} de {{ ingrediente.nombre }} </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-8">
                    <h2>Preparación</h2>
                    <p>{{ receta.preparación |  safe }}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}